.navbar{
    background-color: #f4e8d8;
    border-radius: 5px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 45px;
    text-align: center;
    font-size: 1.2rem;
}
.items{
    display: none;
}
.active{
    display: block;
    width: 100%;
}
.unorderedlist{
    list-style: none;

}
.unorderedlist li{
    padding-top: 15px;
    text-align: center;
}
.unorderedlist li a{
    text-decoration: none;
    color: #000;
}
.hamburger{
    cursor: pointer;
}



@media screen and (min-width:850px) {
    .hamburger{
        display: none;
    }
    .items{
        display: flex;
    }
    .unorderedlist{
        display: flex;
    }
    .unorderedlist li{
    margin-left: 10px;
     padding: 0px 20px;
     border-radius: 5px;

    }
    
}